@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1E1743;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1743;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1200px;
}

.blog-container {
  color: white !important;
}